<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h4>Events Attending</h4>
<% @upcomming_events.each do |t| %>
    <div>
        <%= "- " + t.description %>
    </div>
<% end %>

<h4>Events already attended</h4>
<% @prev_events.each do |t| %>
    <div>
        <%= "- " + t.description %>
    </div>
<% end %>
<br/>
<hr>
<%= link_to 'Back', users_path %>
