<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span class="logo"> EVENTS </span>
      <%= logged_in %> <span>|</span> <%= signup %>
    </header>
    <hr>
    <main>
      <%= yield %>
    </main>
    

  </body>
</html>
